extends layout

block content

  div(class="content")
    div(id="icon_avater", class="icon_avater")
      img(src="/images/icon.jpg", id="user-icon", class="user-icon")
      img(src="/images/icon_bk.png", class="icon_avater_img", alt="avater")
    div
      div(class="space")
      form(method="post", enctype="multipart/form-data", action="/")
        input(id="username", type="name", name="username", placeholder="名前 or Twitter ID", required)
        div(class="file_button") アイコン画像を選択
          input(id="icon", class="file_input", type="file", name="uploadedfile", accept="image/png, image/jpeg", required)
        input(type="submit" class="send_button")
  

