body {
    background: #EEE;
}

@media screen and (max-device-width: 1319px) {
    .content {
        display: block;
        width: 100%;
    }
    .content > div:first-of-type {
        display: none;
    }
    .content > div {
        min-height: 640px;
        padding: 2rem 0;
        background: #FFF;
        border-radius: 5px;
        zoom: 1.8;
        margin: auto;
    }
  }
@media screen and (min-device-width: 1320px) {
    .content {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        height: 85vh;
        max-width: 1200px;
        max-height: 800px;
    }
    .content > div {
        width: 49.5%;
        min-width: 550px;
        height: 100%;
        background: #FFF;
        border-radius: 5px;
        overflow: hidden;
    }
}

div.icon_avatar {
    background: #393939;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.user-icon {
    width: 200px;
    -webkit-user-drag: none;
}
.icon_avatar_img {
    width: 480px;
    -webkit-user-drag: none;
}

/* right */
.form-area {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 100%;
    max-height: 640px;
}

.username {
    margin: 1em;
}
.username > span {
    font-size: 2.5em;
    color: rgba(0,0,0,0.75);
}
.username > input[type="name"] {
    border: none;
    border-bottom: 1px dotted;
    padding: .5em;
    font-size: 2em;
}

input[type="file"] {
    cursor: pointer;
    border: none;
    border-bottom: 1px dotted;
    font-size: 2em;
}
.file_button {
    display: inline-block;
    position: relative;
    padding: 1em 2.2em;
    margin: 1em 2em;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: #2772DB;
    overflow: hidden;
    transition: .3s ease;
    user-select: none;
    cursor: pointer;
}
.file_button:hover {
    background-color: #2062bf;
}
.file_input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.send_button {
    display: block;
    position: relative;
    font-size: 2em;
    padding: 1em 5em;
    margin: .5em 1em;
    text-align: center;
    color: #fff;
    border-radius: 1rem;
    background-color: #161180;
    overflow: hidden;
    transition: .3s ease;
    cursor: pointer;
}
